TG_HOST=http://localhost
TG_PORT=14240
TG_RESTPP_PORT=14240
TG_GS_PORT=14240
TG_USERNAME=tigergraph
TG_PASSWORD=tigergraph
TG_GRAPH_NAME=FraudInvestigation
TG_GRAPHNAME=FraudInvestigation
GROQ_API_KEY=
